/* Common css */

body{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    
}
.container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
img{
    width: 100%;
}

/* Root variable */
:root{
    --curl-font: 'Cedarville Cursive', cursive;
    --header-font: 'Josefin Sans', sans-serif;
    --button-font: 'Varela Round', sans-serif;
    --logo-font-size: 32px;
    --logo-font-line-height:60px;
    --slogan-text-color:#444A4A;
    --h1-font-size: 63px;
    --h1-font-line-height: 63px;
    --header-font-size: 38px;
    --header-line-height:38px;
    --header-text-color:#000000;
    --header-font-weight: 700;
    --menu-font-weight: 700;
    --menu-font-family: 'Josefin Sans', sans-serif;
    --menu-font-size:16px;
    --menu-font-line-height: 16px;
    --menu-font-color: #000000;
    --carousel-font-size:28px;
    --carousel-font-line-height:28px;
    --button-text-font: 'Varela Round', sans-serif;
    --button-background: #2D635E;
    --address-header-font-size: 32px;
    --address-header-line-height: 45px;
}
/* Header area */
header {
    margin-top: 39px;
}
.mobile-menu {
    display: none;
}
.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text p {
    font-family: var(--curl-font);
    font-size: var(--logo-font-size);
    line-height:var(--logo-font-line-height) ;
    color:var(--header-text-color);
    margin: 0;
    padding-left: 13px;
}
.slider-image {
    position: relative;
}
.slider-image::before {
    background-image: url(icon-arrow.png);
    content: "";
    height: 8px;
    left: 11%;
    position: absolute;
    bottom: 25%;
    width: 28px;
}
.slider-image:hover{
    transform: translateX(0px) translateY(75px);
    transition: transform 500ms ease-in-out 25ms;
}
ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul.menu li {
    list-style: none;
    margin-right: 82px;
}
ul.menu li a {
    text-decoration: none;
    font-family: var(--menu-font-family);
    font-size: var(--menu-font-size);
    line-height: var(--menu-font-line-height);
    color: var(--menu-font-color);
    font-weight: var(--menu-font-weight);
}
li#contact-special {
    margin-right: 0;
    background: #2D635E;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 10%);
    border-radius: 7px;
    padding: 4px 27px;
}
li#contact-special a {
    color: #fff;
}

/* Slider area  */
section.slider {
    margin-top: 50px;
}
.container.slider-area {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(515px, auto) minmax(570px, auto) .2fr;
}
span.slider-slogan{
    font-family: var(--curl-font);
    font-size: var(--carousel-font-size);
    line-height: 53px;
    color: var(--slogan-text-color);
}
h1.slider-title{
    font-family: var(--header-font);
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--header-text-color);
}
a.order-btn-mobile{
    display: none;
}
a.order-btn {
    text-decoration: none;
    font-family: var(--button-font);
    background-color: var(--button-background);
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 66px;
    border-radius: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

}
a.order-btn:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #FAE9E0;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
a.order-btn:hover, a.order-btn:active, a.order-btn:focus{
 
  }
a.order-btn:hover:before, a.order-btn:active:before, a.order-btn:focus:before{
    right: 0;
}
.slider-image img {
    width: 570px;
    height: 513px;
}
img.social {
    width: 32px;
    height: 32px;
}
.slider-social {
    display: flex;
    flex-direction: column;
}
.slider-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-social span {
    width: 121px;
    margin-top: 36px;
    font-family: var(--header-font);
    font-size: 28px;
    line-height: 28px;
    color: var(--slogan-text-color);
    transform: rotate( 
-90deg
 );
}

/* About us area  */
section.about-us-area {
    margin-top: 123px;
}
.container.about-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 90px;
}
.about-us-img img {
    width: 406px;
}
h2.about-title {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--header-text-color);
}

/* Promotion area  */
section.promotion-area {
    margin-top: 109px;
}
.promotion-title h2 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--header-text-color);
}
.container.promotion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 103px;
}
.promotion-content p {
    margin-bottom: 34px;
}

/* Carousel area  */
section.carousel-area {
    margin-top: 60px;
    padding: 48px 0 44px;
    background: #2d635e0f;
}
.carousel-area h3 {
    font-family: var(--header-font);
    color: var(--header-text-color);
    font-size: var(--carousel-font-size);
    line-height: var(--carousel-font-line-height);
    margin: 3px;
}
.container.carousel-elaka {
    display: grid;
    grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
    grid-gap: 30px;
}
.card-1, .card-2, .card-3 {
    background: #FFFFFF;
    box-shadow: 0px 23px 34px rgb(35 57 55 / 17%);
    border-radius: 25px;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right-icon, .left-icon {
    display: grid;
    justify-content: center;
}
i.fas.fa-angle-left, i.fas.fa-angle-right {
    font-size: 44px;
    color: #2D635E;
    font-weight: 600;
}

/* Footer area  */
section.contact-area {
    padding: 114px 0 124px;
}
.container.map-area {
    display: grid;
    grid-template-columns: 2fr .4fr 1fr;
    align-items: stretch;
}
.horizontal-line {
    position: relative;
    top: 62px;
}
hr {
    border: 2px solid #444A4A;
    width: 64%;
    background: #444A4A;
}
.address h3 {
    font-family: var(--header-font);
    font-size: 32px;
    line-height: 45px;
}
a.order-btn-mobile-footer {
    display: none;
}

/*== Media query ==*/
@media only screen and ( min-width:768px ) and ( max-width: 1221px ) {
    .container {
        flex-direction: column;
        width: 97%;
    }
    header {
        margin-top: 20px;
    }
    .logo-area {
        flex-direction: column;
    }
    ul.menu li {
        margin-right: 71px;
    }
    .container.slider-area {
        grid-template-columns: 1fr 1fr .10fr;
    }
    .slider-image img {
        width: 100%;
        height: auto;
    }
    section.about-us-area {
        margin-top: 21px;
    }
    .about-us-img img {
        width: 100%;
    }
    section.promotion-area {
        margin-top: 0px;
    }

    .card-1, .card-2, .card-3 {
        border-radius: 18px;
        padding: 22px 8px;
    }
    .container.carousel-elaka {
        grid-gap: 14px;
    }
    i.fas.fa-angle-left, i.fas.fa-angle-right {
        font-size: 26px;
    }
    section.contact-area {
        padding: 3px 0 5px;
    }
    .container.map-area {
        align-items: center;
    }
    .horizontal-line {
        top: -35px;
    }
}
@media only screen and ( min-width:320px ) and ( max-width: 767px ) {
    .mobile-menu {
        display: block;
    }
    .menu-area {
        display: none;
    }
    .container {
        width: 90%;
        justify-content: space-evenly;
    }
    .slider-image {
        display: none;
    }
    .container.slider-area {
        grid-template-columns: 1fr;
    }
    .slider-social {
        display: none;
    }
    h1.slider-title {
        font-size: 49px;
    }
    .slider-title-area {
        text-align: center;
    }
    span.slider-slogan {
        font-size: 19px;
        line-height: 28px;
    }
    img.white-arrow {
        width: 22px;
        padding-left: 21px;
    }
    a.order-btn{
        display: none;
    }
    a.order-btn-mobile {
        display: inline-block;
        text-decoration: none;
        font-family: var(--button-font);
        background-color: var(--button-background);
        color: #fff;
        font-size: 16px;
        line-height: 14px;
        padding: 11px 33px;
        border-radius: 4px;
    }
    section.about-us-area {
        margin-top: 68px;
    }
    .container.about-area {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .about-us-img img {
        width: 100%;
    }
    section.promotion-area {
        margin-top: 10px;
    }
    .container.promotion {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .promotion-content {
        order: 2;
    }
    section.carousel-area {
        margin-top: 5px;
        padding: 35px 0 20px;
    }
    .container.carousel-elaka {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .right-icon, .left-icon {
        display: none;
    }
    .card-1 a.order-btn, .card-2 a.order-btn, .card-3 a.order-btn {
        display: block;
        padding: 11px 25px;
    }
    section.contact-area {
        padding: 22px 0 12px;
    }
    .container.map-area {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .horizontal-line {
        display: none;
    }
    .address {
        text-align: center;
    }
    .mb-hidden{
        display: none;
    }
    a.order-btn-mobile-footer {
        display: inline-block;
        text-decoration: none;
        font-family: var(--button-font);
        background-color: #ffffff;
        color: #444A4A;
        font-size: 16px;
        line-height: 14px;
        padding: 17px 21px;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    }
}